<div class="memerepo-meme-dialog">
    <EditForm Model="@Meme" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <MudDialog>
            <DialogContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Class="d-flex flex-row align-center w-100">
                            <Condition Evaluation="@(!string.IsNullOrEmpty(Meme.Path))">
                                <Match>
                                    <MudImage Class="image-content" Src="@Meme.Path" @onclick="ChooseFile" />
                                </Match>
                                <NotMatch>
                                    <MudIcon Class="image-content" Icon="@Icons.Filled.Image" @onclick="ChooseFile" />
                                </NotMatch>
                            </Condition>
                            <MudPaper Class="w-100 ms-4">
                                <MudTextField Label="Название" @bind-Value="Meme.Title" For="@(() => Meme.Title)" />
                                <MudTextField Label="Описание" @bind-Value="Meme.Description" For="@(() => Meme.Description)" Lines="8" />
                            </MudPaper>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <TagPicker SelectedTags="@selectedTags" CurrentItemTags="@Meme.Tags" />
                    </MudItem>
                </MudGrid>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="Cancel">Отмена</MudButton>
                <MudButton ButtonType="ButtonType.Submit">@saveButtonText</MudButton>
            </DialogActions>
        </MudDialog>
    </EditForm>
</div>