@inherits MemeRepoBaseFluxorLayout

@using Web.Core.Views.Shared.SideMenuComponents;

<MudThemeProvider IsDarkMode="isDarkMode" Theme="_themeService!.GetTheme()" />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout Class="page">
        <MemeRepoStateContainer State="@state">

            <LoadingFragment>
                <MemeRepoLoading />
            </LoadingFragment>

            <ContentFragment>

                <MudPaper Class="page__header d-flex flex-row align-start">
                    <MudPaper Class="info-block">
                         <MudButton OnClick="Test">Test</MudButton>
                    </MudPaper>
                    <MudPaper Class="navigation-block">
                        <MudButton Class="header-button"><MudIcon Icon="@Icons.Filled.ChevronLeft" Size="Size.Large" /></MudButton>
                        <MudButton Class="header-button"><MudIcon Icon="@Icons.Filled.ChevronRight" Size="Size.Large" /></MudButton>
                    </MudPaper>
                    <MudPaper Class="tools-block ms-auto me-2">
                        <MudButton Class="header-button"><MudIcon Icon="@Icons.Filled.Menu" /></MudButton>
                    </MudPaper>
                    <MudPaper Class="window-buttons-block mt-1">
                        <MudButton Class="header-button" OnClick="OnMinimizeWindowButtonClick"><MudIcon Icon="@Icons.Filled.Minimize" /></MudButton>
                        <MudButton Class="header-button" OnClick="OnResizeWindowButtonClick"><MudIcon Icon="@Icons.Filled.OpenInNew" Class="@ResizeIconClassname" /></MudButton>
                        <MudButton Class="header-button" OnClick="OnCloseWindowButtonClick"><MudIcon Icon="@Icons.Filled.Close" /></MudButton>
                    </MudPaper>
                </MudPaper>

                <MudMainContent Class="page__content">
                    <MudSwipeArea Class="main-container d-flex flex-row" OnSwipe="OnSwipe">

                        <MudPaper Class="@SideMenuClassname">
                            <MudPaper Class="struct-view-switcher d-flex flex-row" Width="100%">
                                <button @onclick="_ => isFolderView = false" class="@(!isFolderView ? "selected-view-struct" : "")">
                                    <MudIcon Icon="@Icons.Filled.Tag" Size="Size.Small" Style="margin-bottom: 2px; margin-right: 2px;" /> Теги
                                </button>
                                <button @onclick="_ => isFolderView = true" class="@(isFolderView ? "selected-view-struct" : "")">
                                    <MudIcon Icon="@Icons.Filled.Folder" Size="Size.Small" Style="margin-bottom: 2px;" /> Папки
                                </button>
                            </MudPaper>
                            <MudPaper Class="struct-content" Width="100%">
                                <Condition Evaluation=@isFolderView>
                                    <Match>
                                        <MemeRepoSideMenuFolderTreeView />
                                    </Match>
                                    <NotMatch>
                                        <MemeRepoSideMenuTagCollectionView />
                                    </NotMatch>
                                </Condition>
                            </MudPaper>
                            <MudPaper Class="struct-bottom-panel" Width="100%">

                            </MudPaper>
                        </MudPaper>

                        <MudPaper Class="@ContentClassname" @ondragenter="OnDragEnter" @ondragleave="OnDragLeave" @ondragover="OnDragEnter">
                            @Body
                        </MudPaper>

                    </MudSwipeArea>
                </MudMainContent>

            </ContentFragment>

            <ErrorFragment>

            </ErrorFragment>

        </MemeRepoStateContainer>


    </MudLayout>
</div>


@code {
    bool isDarkMode = true;
}