@using Web.Core.Enums.Components

<div class="memerepo-container">
    <Condition Evaluation="@(Items.Count > 0)">
        <Match>
            <MudPaper Class="inner-container">
                <Iterations T="MemeRepoItemViewModel" Items="@Items">
                    @switch (context.FolderObjectType)
                    {
                        case MemeRepoItemType.Folder:
                            <MemeRepoContainerFolderItem Data="@context" />
                            break;
                        case MemeRepoItemType.Meme:
                            <MemeRepoContainerMemeItem Data="@context" />
                            break;
                    }
                </Iterations>
            </MudPaper>
        </Match>
        <NotMatch>
            <Condition Evaluation="@(EmptyContent != null)">
                <Match>
                    @EmptyContent
                </Match>
                <NotMatch>
                    <MudText>По вашему запросу ничего не найдено</MudText>
                </NotMatch>
            </Condition>
        </NotMatch>
    </Condition>
</div>